<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NKTD.CLOUD ServerHub - {{ error_code }} Fehler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>

<body id="body">
<div class="container">
    <div class="error-wrapper">
        <div class="intro-card">
            <h1 class="app-title">ServerHub</h1>
            <p class="intro-text main-error">{{ error_code }} - {{ error_message }}</p>
            <p class="intro-text">{{ error_description }}</p>
        </div>
        <div class="error-actions">
            <a href="{{ url_for('index') }}" class="btn-error">Zurück zum Dashboard</a>
        </div>
    </div>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
</div>
<script src="{{ url_for('static', filename='js/template_fade.js') }}"></script>
</body>

</html>
